.product-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

.product-item img {
    height: 12em;
    width: 10em;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.main-content {
    flex: 2;
    width: 40%;
    background-color: #FAFBF8;
}

.aside {
    flex: 1;
    height: 100%;
    background-image: url("./../img/bg_gif.gif");
    background-repeat: repeat-y;
    background-size: contain;
}

.trick-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero-content img {
    height: 12em;
    width: 17em;


}

@media (max-width: 780px) {
    .aside {
        flex: 0;
    }

    .main-content {
        flex: 1;
    }
}
