.main {
    padding: 0.5em;
}

.section {
    display: grid;
    grid-template-columns: 1fr;

    gap: 20px;
    padding: 1em;

    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
}

.section-container {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    border: 1px solid black;
    padding: 0.5em;
}

.img-div {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div img {
    width: 100%;
    aspect-ratio: 1/1;
}

.description-div {
    flex: 1;
}